*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar
{
    background: radial-gradient(circle at 50% 50%, #3F9CBA, #1E5285);
}

.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #3F9CBA, #1E5285);
    
}

.contact .content
{
    max-width: 800px;
    text-align: center;
}

.contact .content h2 
{
    font-size: 70px;
    font-weight: 5000;
    color: #f5f0f0de;
}

.contact .content p 
{
    font-weight: 300;
    color: #efeaea;
    font-size: 21px;
}

.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;  
}

.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column
}

.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;

}

.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background-color: #5693d0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
}

.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 20px;
    color: white;
    flex-direction: column;
}

.container .contactInfo .box .text h3
{
    font-weight: 550;
    color: #00bcd4;
    font-size: 23px;  
}

.contactForm
{
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2 
{
    font-size: 30px;
    color: #333;
    font-weight: 500;
    text-decoration:underline
}

.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input, 
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span
{
    position: absolute;
    Left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #272cc0;
    font-size: 12px;
    transform: translateY(-20px);
    
}

.contactForm .inputBox input[type = "submit"]
{
    width: 100%;
    background: #5693d0;
    display: inline-block;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
}

.contactForm .inputBox input[type = "submit"]:active{
    transform: scale(.98);
}
